/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border-radius: 0;
}

.btn-outline:hover
{
    color: #fff;
}

.btn {
    border-radius: 0px;
}

.canvas {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 500px;
    left: 0px;
    background: black;
}

.block {
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    background-color: lime;
    border-color: black;
}